.tag-a{
	color: #fff;
	transition: 0.2s;
}
.tag-a:hover{
	transition: 0.2s;
	color: #fff;
	opacity: 0.75;
	text-decoration: none;
}
.black{
	background-color: #111 !important;
}
.opacity{
	opacity: 100 !important;
}
#nav-desktop{
	background-color: #343434;
}
#nav-mobile{
	transition: 0.7s;
	background-color: #343434;
}
#btn-closemenu{
	display: none;
}
.opcty-solucoes, .opcty-produtos, .opcty-printer, .opcty-acss, .opcty-msla, .opcty-fdm, .opcty-ezycure, .opcty-apps{
	opacity: 0;
	transition: 1s;
}
#menu{
	font-size: 16px;
	background-color: #111;
	height: 100%;
	width: 100%;
	position: fixed;
	display: none;
	z-index: 2;
}
#lang{
	background-color: #fff;
	margin-top: 5px;
	box-shadow: 1px 1px 1px 1px rgba(0,0,0,.5);
	border-radius: 5px;
	width: 270px;
	position: fixed;
	right: 0;
	display: none;
	z-index: 1;
	padding: 10px;
	margin-right: 5px;
}
#lang form a{
	color: #000;
}
#solucoes, #produtos, #impressoras3d, #acessorios, #msla, #fdm, #ezycure, #apps{
	font-size: 16px;
	width: 100%;
	height: 100%;
	position: fixed;
	top: 44.5px;
	right: 0px;
	display: none;
}
#itens{
	display: none;
}
.itens{
	transition: 0.8s;
	opacity: 0;
}
.color-fff{
	color: #fff;
}
.w-53px{
	width: 53px;
}
.bc-menu{
	color: #fff;
	border-bottom: solid 0.5px rgba(255,255,255,0.15);
}
.bg-1{
	background-color: #191919;
}
.bg-2{
	background-color: #222;
}
.bg-3{
	background-color: #292929;
	}.bg-4{
		background-color: #333;
	}