@font-face{
	font-family: EngraversGothic BT;
	src:url("../Fonts/1063644/5affc097-78ed-4037-b0ad-e147f9eb7a50.eot?#iefix");
	src:url("../Fonts/1063644/5affc097-78ed-4037-b0ad-e147f9eb7a50.eot?#iefix") format("eot"),url("../Fonts/1063644/3d0c6403-fff7-412d-955d-a28671432ddf.woff2") format("woff2"),url("../Fonts/1063644/c7e07a00-b5d8-4589-a449-3c024df8dff6.woff") format("woff"),url("../Fonts/1063644/712a17b2-e511-4d1b-8ea2-65499489dba2.ttf") format("truetype");
}

#mapa{
	padding-top: 56px;
	width: 100%;
	height: 350px;
	border-bottom:solid 1px #191919;
}
@media only screen and (max-width: 993px) {
	#mapa{
		height: 300px;
	}
}
@media only screen and (max-width: 768px) {
	#mapa{
		height: 250px;
	}
}
@media only screen and (max-width: 400px) {
	#mapa{
		height: 200px;
	}
}

#contatenos{
	border:solid 1px rgba(0,0,0,.2);
}


.caixaInfo{
	width: 300px;
	margin-left: 70px;
}
@media only screen and (max-width: 993px) {
	.caixaInfo{
		width: 200px;
		margin-left: 70px;
	}
}
@media only screen and (max-width: 768px) {
	.caixaInfo{
		width: 170px;
		margin-left: 60px;
	}
}
@media only screen and (max-width: 315px) {
	.caixaInfo{
		margin-left: 0px;
	}
}

.icon-cnt{
	font-size: 30px;
	padding: 5px;
	color: orange;
	border: solid 1px rgba(0,0,0,.3);
	float: left;
}
.icon-cnt:hover{
	color: #FFF;
	background-color: orange;
}
@media only screen and (max-width: 767px) {
	.icon-cnt{
		float: left;
	}
}
@media only screen and (max-width: 315px) {
	.diminuirSpan{
		font-size: 15px;
	}
}

@media only screen and (max-width: 900px) {
	.icon-cnt{
		font-size: 25px;
	}
}