@font-face{
	font-family:"EngraversGothic BT W05 5683447";
	src:url("../Fonts/5683447/39a5d1bc-578e-4e8e-a6b9-0d3d56a6f063.eot?#iefix");
	src:url("../Fonts/5683447/39a5d1bc-578e-4e8e-a6b9-0d3d56a6f063.eot?#iefix") format("eot"),url("../Fonts/5683447/591bbb1d-0f51-43e9-abff-49b3dfc9f876.woff2") format("woff2"),url("../Fonts/5683447/f27e32f4-7d27-4e5d-821d-d2e8c5ea538e.woff") format("woff"),url("../Fonts/5683447/ea309e4c-42a6-4393-b6b8-39018c6f9d2a.ttf") format("truetype");
}
#bolinha{
	width: 10px;
	height: 10px;
}
a .icone{
	font-size: 50px;
}
#banner{
	font-family:'EngraversGothic BT W05 5683447';
	width: 100%;
	background-color: #212121;
	padding-top: 80px;
}

#titulo{
	text-align: center;
	font-size: 95px;
}

#titulo2{
	text-align: center;
	font-size: 50px;
}

#textoHeader{
	color: #fff;
}
#textoHeader h1{
	font-weight: bolder;
}
#textoHeader p{
	text-align: center;
	font-size: 35px;
}
@media only screen and (max-width: 991px) {
	#titulo{
		font-size: 40px;
		margin: 0 auto;
		width: 100%;	
	}
	#titulo2{
		font-size: 35px;
		margin: 0 auto;
		width: 100%;	
	}
	#textoHeader p{
		font-size: 20px;
		width: 100%;	
	}

}
@media only screen and (max-width: 400px) {
	#titulo{
		font-size: 30px;
	}
	#titulo2{
		font-size: 25px;
	}
	#textoHeader p{
		font-size: 17px;;	
	}
}
@media only screen and (max-width: 400px) {
	#titulo{
		font-size: 25px;
	}
	#titulo2{
		font-size: 20px;
	}
	#textoHeader p{
		font-size: 15px;;	
	}
}

@media only screen and (max-width: 768px) {
	#img-printer{
		display: none;
	}
}
#coreE3{
	width: 86.5%;
}
@media only screen and (max-width: 768px){
	#coreE3{
		width: 100%;
	}
}
