    @font-face{
        font-family:"EngraversGothic BT W05 5683447";
        src:url("../Fonts/5683447/39a5d1bc-578e-4e8e-a6b9-0d3d56a6f063.eot?#iefix");
        src:url("../Fonts/5683447/39a5d1bc-578e-4e8e-a6b9-0d3d56a6f063.eot?#iefix") format("eot"),url("../Fonts/5683447/591bbb1d-0f51-43e9-abff-49b3dfc9f876.woff2") format("woff2"),url("../Fonts/5683447/f27e32f4-7d27-4e5d-821d-d2e8c5ea538e.woff") format("woff"),url("../Fonts/5683447/ea309e4c-42a6-4393-b6b8-39018c6f9d2a.ttf") format("truetype");
    }
body{
font-family:'EngraversGothic BT W05 5683447';
}
main{
	background-color: #fff;
}
#banner{
	font-family:'EngraversGothic BT W05 5683447';
	width: 100%;
	background-color: #191919;
	padding-top: 80px;
}

#titulo{
	text-align: center;
	font-size: 95px;
}

#titulo2{
	text-align: center;
	font-size: 50px;
}

#textoHeader{
	color: #fff;
}
#textoHeader h1{
	font-weight: bolder;
}
#textoHeader p{
	text-align: center;
	font-size: 35px;
}
@media only screen and (max-width: 991px) {
	#titulo{
		font-size: 40px;
		margin: 0 auto;
		width: 100%;	
	}
	#titulo2{
		font-size: 35px;
		margin: 0 auto;
		width: 100%;	
	}
	#textoHeader p{
		font-size: 20px;
		width: 100%;	
	}

}
@media only screen and (max-width: 400px) {
	#titulo{
		font-size: 30px;
	}
	#titulo2{
		font-size: 25px;
	}
	#textoHeader p{
		font-size: 17px;;	
	}
}
@media only screen and (max-width: 400px) {
	#titulo{
		font-size: 25px;
	}
	#titulo2{
		font-size: 20px;
	}
	#textoHeader p{
		font-size: 15px;;	
	}
}

@media only screen and (max-width: 768px) {
	#img-printer{
		display: none;
	}
}



.cardPrinter{
	background-color: #fff;
	border: none;
	padding-top: 30px;
}

/*h2*/
@media only screen and (max-width: 800px) {
	.title-printer{
		font-size: 20px;
	}
}
@media only screen and (max-width: 600px) {
	.title-printer{
		font-size: 18px;
	}
}
@media only screen and (max-width: 480px) {
	.title-printer{
		font-size: 15px;
	}
}


/*lista ul*/
@media only screen and (max-width: 800px) {
	.especificacoes{
		font-size: 20px;
	}
}
@media only screen and (max-width: 600px) {
	.especificacoes{
		font-size: 18px;
	}
}
@media only screen and (max-width: 480px) {
	.especificacoes{
		font-size: 15px;
	}
}



/*responsive images*/
.img-printer{
	width: 320px;
	height: 537px;
	margin: 0 auto;
}
.img-printer1{
	width: 320px;
	height: 537px;
	margin: 0 auto;
	display: none;
}
.descricaoPrinter1{
	display: none;
}

.descricao1{
	margin-top: 30px;
	text-align: right;
}
.descricao2{
	text-align: left;
}
.ball{
	font-family: none;
	font-size: 35px;
	color: #666;
}

@media only screen and (max-width: 1200px) {
	.img-printer{
		width: 290px;
		height: 487px;
	}
}
@media only screen and (max-width: 992px) {
	.cardPrinter{
		display: none;
	}
	.descricaoPrinter{
		display: none;
	}
	.img-printer1{
		display: block;
	}

	.descricaoPrinter1{
		display: block;
	}
	.cardGroupPrinter{
		height: 0px;
	}
}


@media only screen and (max-width: 370px) {
	.img-printer1{
		width: 250px;
		height: 420px;	
	}
}
@media only screen and (max-width: 325px) {
	.img-printer1{
		width: 225px;
		height: 378px;	
	}
}				
@media only screen and (max-width: 299px) {
	.img-printer1{
		width: 200px;
		height: 336px;	
	}
}

/*modal*/
.ball1{
	font-size: 22px;
	font-weight: bolder;
	color: #191919;
}
#modalDescricao1 span{
	text-align: right;
}
#modalDescricao1{

	text-align: left;
}


#info{
	width: 100%;
	background-color: #efefef;
	padding-top: 30px;
	padding-bottom: 30px;
}
.card-title{
	font-weight: bold;
	text-align: center;
	font-style: italic;
}
.card-text{
	text-align: center;
}

.cardEx{
	background-color: #efefef;
	border: none;
}

#custoBeneficio{
	font-weight: bolder;
}
@media only screen and (max-width: 800px) {
	#custoBeneficio{
		font-size: 45px;
	}
}
@media only screen and (max-width: 600px) {
	#custoBeneficio{
		font-size: 40px;
	}
}
@media only screen and (max-width: 480px) {
	#custoBeneficio{
		font-size: 30px;
	}
}



#pcb{
	text-align: center;
	font-size: 20px;
}
@media only screen and (max-width: 800px) {
	#pcb{
		font-size: 18px;
	}
}
@media only screen and (max-width: 600px) {
	#pcb{
		font-size: 17px;
	}
}
@media only screen and (max-width: 480px) {
	#pcb{
		font-size: 15px;
	}
}

.carde1260t{
	border: none; 
	background-color: #eee;
}

.carousel-item img{
	margin: 0 auto;
	max-width: 950px;
}


@media only screen and (max-width: 991px) {
	#tituloImp{
		font-size: 50px;
	}
}
@media only screen and (max-width: 767px) {
	#tituloImp{
		font-size: 40px;
	}
}
@media only screen and (max-width: 450px) {
	#tituloImp{
		font-size: 30px;
	}
}
